* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #C0D2FE;
}

/*
Green:			    #93CC7B
Magenta:		    #D04473
Dark Periwinkle: 	#91AAED
Light Periwinkle: 	#C0D2FE
*/

header {
    display: flex;
    justify-content: center;
}

main {
    padding: 2rem;
}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.card {
    background-color: #ffffff;
    height: 60vh;
    width: 30vw;
    border: 4px solid #91AAED;
    border-radius: 10px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-details{
    border: 2px solid black;
    height: fit-content;
    width: 95%;
}